<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grade_result.name %>
</p>

<p>
  <strong>Stundent_id:</strong>
  <%= @grade_result.stundent_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @grade_result.score %>
</p>

<%= link_to 'Edit', edit_grade_result_path(@grade_result) %> |
<%= link_to 'Back', grade_results_path %>
